{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-sm-12">
                <h4>Hi {{ user.username }}!</h4>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-lg btn-success" href="{% url 'lists' %}">View Your Lists</a>
            </div>
        </div>
    {% endif %}
{% endblock %}